.journal-layout {
  display: flex;
  height: 100%;
  padding: 1rem;
  justify-content: space-evenly;
  min-height: 500px;
  max-width: 1200px;
}

.journal-editor-container {
  flex: 1;
  padding: 1rem;
  min-height: 500px;
  overflow-y: auto;
}
