.profile-user-content { 
  display: flex; 
  flex-direction: row;  
  align-items: flex-start;
  color: var(--color-text-main);
} 

.profile-settings-content { 
  width: 100%; 
  padding: 3rem 2.5rem; 
} 

.avatar-column {  
  min-height: 100%;
  padding-top: 2rem; 
  transition: transform 0.25s ease, opacity 0.25s ease;
}
