name: Build and Publish UAT Image

on:
  workflow_dispatch:

jobs:
  uat-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push UAT
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          no-cache: true  # Since you want a fresh build
          tags: |
            ghcr.io/lyfie-app/lyfie-uat:uat
            ghcr.io/lyfie-app/lyfie-uat:uat-${{ github.run_number }}
